body{
    text-align: center;
    animation: bg 5s infinite;
    color: #fff;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: peru;
}
a:hover{
    animation: btn 1.5s infinite;
}
.price{
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}
.price p{
    color: maroon;
}
@keyframes bg {
    0%{
        background-color: rgb(35, 35, 55);
    }
    50%{
        background-color: rgb(55, 55, 75);
    }
    100%{
        background-color: rgb(35, 35, 55);
    }
}
@keyframes btn{
    0%{
        background-color: rgb(125, 55, 55);
    }
    50%{
        background-color: rgb(150, 25, 25);
    }
    100%{
        background-color: rgb(125, 55, 55);
    }
}